In [1]:
#data exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tabula
import requests
from tika import parser
import PyPDF2

In [2]:
df = pd.read_csv("2019_divter.csv")
df.head (5)

,CODI_DIVISIO_TERRITORIAL,NOM_DIVISIO_TERRITORIAL,CATEGORIA_DIVISIO,CODI_DIVISIO_TERRITORIAL_PARE,URL_FITXA_DIVISIO_TERRITORIAL
0,B-01,el Raval,Barri,D-01,https://ajuntament.barcelona.cat/estadistica/c...
1,B-02,el Barri Gòtic,Barri,D-01,https://ajuntament.barcelona.cat/estadistica/c...
2,B-03,la Barceloneta,Barri,D-01,https://ajuntament.barcelona.cat/estadistica/c...
3,B-04,"Sant Pere, Santa Caterina i la Ribera",Barri,D-01,https://ajuntament.barcelona.cat/estadistica/c...
4,B-05,el Fort Pienc,Barri,D-02,https://ajuntament.barcelona.cat/estadistica/c...

In [3]:
df.nunique()

CODI_DIVISIO_TERRITORIAL         83
NOM_DIVISIO_TERRITORIAL          82
CATEGORIA_DIVISIO                 2
CODI_DIVISIO_TERRITORIAL_PARE    10
URL_FITXA_DIVISIO_TERRITORIAL    73
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CODI_DIVISIO_TERRITORIAL       83 non-null     object
 1   NOM_DIVISIO_TERRITORIAL        83 non-null     object
 2   CATEGORIA_DIVISIO              83 non-null     object
 3   CODI_DIVISIO_TERRITORIAL_PARE  73 non-null     object
 4   URL_FITXA_DIVISIO_TERRITORIAL  73 non-null     object
dtypes: object(5)
memory usage: 3.4+ KB

In [5]:
df.isna().sum()

CODI_DIVISIO_TERRITORIAL          0
NOM_DIVISIO_TERRITORIAL           0
CATEGORIA_DIVISIO                 0
CODI_DIVISIO_TERRITORIAL_PARE    10
URL_FITXA_DIVISIO_TERRITORIAL    10
dtype: int64

In [6]:
df = df.dropna()

In [7]:
list_1 = []
list_2 = []
list_3 = []
list_4 = []
list_5 = []
list_6 = []

In [25]:
for i, url in enumerate(df['URL_FITXA_DIVISIO_TERRITORIAL']):
    myfile = requests.get(url, allow_redirects=True)
    file_name = r'C:\Users\Pepo\IT ACADEMY DATA SCIENCE\HACKATLON OCTUBRE 2022\Archivos pdf/' + str(i) + '.pdf'
    with open(file_name, 'wb') as f:
        f.write(myfile.content)
      
    #file = tabula.read_pdf(file_name, pages='all')[0]
    
   # creating a pdf reader object
    fileReader = PyPDF2.PdfFileReader(file_name)

    text = ''
    for page in fileReader.pages:
        text += page.extract_text() + "\n"
    data = text.split('\n')
    
   
    for i, line in enumerate(data):
        barrio_name = data[0].strip()
        tils = data[32].split(' ')[-3]
        old = data[34].split(' ')[-3]
        renda = data[40].split(' ')[-3]
        index = data[35].split(' ')[-3]
        aturats = data[39].split(' ')[-3]
        list_1.append(barrio_name)
        list_2.append(tils)
        list_3.append(old)
        list_4.append(renda)
        list_5.append(index)
        list_6.append(aturats)

In [29]:
data1 = pd.DataFrame(list_1)

In [30]:
data1

                              0
0                Barri el Raval
1                Barri el Raval
2                Barri el Raval
3                Barri el Raval
4                Barri el Raval
...                         ...
4791  Barri la Verneda i la Pau
4792  Barri la Verneda i la Pau
4793  Barri la Verneda i la Pau
4794  Barri la Verneda i la Pau
4795  Barri la Verneda i la Pau

[4796 rows x 1 columns]

In [ ]:
df_final _

In [22]:
list_ = [[list_1, list_2, list_3, list_4, list_5, list_6]]

In [23]:
df3 = pd.DataFrame(list_, columns = ['Nombre del barrio', 
                                     'Titulados superiores i CFGS',
                                     'Poblacion > 65 años',
                                     'Renta familiar', 
                                     'index',
                                     'Numero de parados'])

In [24]:
df3

,Nombre del barrio,Titulados superiores i CFGS,Poblacion > 65 años,Renta familiar,index,Numero de parados
0,"[Barri el Raval, Barri el Raval, Barri el Rava...","[27,2, 27,2, 27,2, 27,2, 27,2, 27,2, 27,2, 27,...","[31,9, 31,9, 31,9, 31,9, 31,9, 31,9, 31,9, 31,...","[71,2, 71,2, 71,2, 71,2, 71,2, 71,2, 71,2, 71,...","[50,7, 50,7, 50,7, 50,7, 50,7, 50,7, 50,7, 50,...","[3.074, 3.074, 3.074, 3.074, 3.074, 3.074, 3.0..."